/* body styles */
body {
  font-family: "Oxygen", "Calibri", "Arial", sans-serif;
  margin: 0;
  background-color: #7B7D7D;
}

h1 {
    font-family: "Poiret+One", "Calibri", "Arial", sans-serif;
    text-align: center;
    font-size: 300%;
}

footer {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

/* link styles */
a:link, a:visited, a:active {
    color: ;
    text-decoration: none;
}

a:hover {
    color: ;
}

/* media queries */
@media (max-width: 780px) {
  body {
    margin: ;
  }
