/* body styles */
body {
  font-family: "Oxygen", "Calibri", "Arial", sans-serif;
  margin: 2%;
  background-color: #7B7D7D;
  color: #000;
  overflow: auto;
}

h1 {
    font-family: "Josefin Sans", "Calibri", "Arial", sans-serif;
    text-align: center;
    font-size: 300%;
    color: #4CFFBA;
}

.container {
    background-color: #EBFCFF;
    border-color: #617F72;
    padding: 10px 20px;
}

.bandImage {
    float: left;
    padding: 0;
    margin-right: 20px;
    font-size: 80%;
    text-align: center;
}

.coverimages {
    float: left;
}

.clearfix {
    clear: both;
    padding-top: 20px;
}

#musicSection {
  padding: 0;
  display: block;
}

footer {
  clear: both;
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

/* link styles */
a:link, a:visited, a:active {
    color: #00CC7D;
    text-decoration: none;
}

a:hover {
    color: #00FF9C;
}

/* media queries */
@media (max-width: 780px) {
  body {
    font-size: 90%;
  }

  img {
    max-width: 100%
  }

  .clearfix2 {
    clear: both;
  }
