/* body styles */
body {
  font-family: "Oxygen", "Calibri", "Arial", sans-serif;
  margin: 0;
  background-color: #7B7D7D;
}

.container {
  margin: 3%;
  padding: 2%;
  background-color: #fff;
}

header {
  margin: 0;
  padding: 0;
  color: #fff;
}

h1 {
    font-family: "Ruda", "Calibri", "Arial", sans-serif;
    text-align: center;
    font-size: 300%;
}

h2 {
    font-family: "Ruda", "Calibri", "Arial", sans-serif;
}

.topParagraph {
  padding: 20px 0;
}

img {
  width: 205px;
  height: 205px;
  max-width: 100%;
  max-height: 100%;
  display: block;
  position: relative;
  margin: auto;
  float: left;
}



.imageCaptions {
  clear: both;
  padding-top: 20px;
}

footer {
  text-align: center;
  width: 100%;
  padding-top: 50px;
}

/* link styles */
a:link, a:visited, a:active {
    color: #3ecbfa;
}

a:link, a:visited, a:active in li {
    text-decoration: none;
}

a:hover {
    color: #17647D;
}

/* media queries */
@media (max-width: 780px) {
  body {
    margin: 1%;
  }

  .images {
      clear: both;
      max-width: 50%;
  }
